.navbar {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.66rem;
  height: 6rem;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
  border-bottom: 1px solid var(--gray);
}

.brand {
  font-size: 39px;
  display: flex;
  align-items: center;
  gap: 1.33rem;
  margin-right: auto;
  padding-left: 1.66rem;
  height: 100%
}

.brand h1 {
  display: none;
  font-size: 2.5rem;
  line-height: 2.5rem;
  height: 2.5rem;
}

.navLogo {
  position: relative;
  height: 4rem;
  width: 4rem;
}

.navLogo img {
  width: 100%;
  height: 100%;
}

.navLinks {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1.66rem;

  position: absolute;
  height: 0;
  width: 100%;
  padding: 0 1.66rem;
  top: 6rem;
  overflow: hidden;
  
  background-color: white;
  list-style: none;
  font-size: 2.4rem;
  font-family: var(--font-oswald);

  transition:
    height 0.3s ease-in-out,
    padding 0.3s ease-in-out,
    border-bottom 0.3s step-end;
}

.navLinks.show {
  display: flex;
  height: 172px;
  padding: 1.66rem;
  border-bottom: 1px solid var(--gray);
  transition:
    height 0.3s ease-in-out,
    padding 0.3s ease-in-out,
    border-bottom 0.3s step-end;
}

.navLinks li {
  display: flex;
  justify-content: end;
}

.menuToggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  height: min-content;
  margin: auto 1.66rem;
}

@media (min-width: 576px) {
  .navbar {
    
  }

  .navLinks {
    flex-direction: row;
    gap: 4rem;
    height: max-content;
    width: unset;
    margin: auto 0;
    position: relative;
    top: 0;
  }

  .menuToggle {
    display: none; /* Hide the menu toggle on larger screens */
  }

  .navLinks li {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .brand h1 {
    display: block; /* Show the brand title on larger screens */
  }
}