.postPage {
    width: var(--content-width);
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    margin: 0 auto;
}

.postHeading {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--gray);
}

.postHeadingText {
    width: 100%;
    margin: 1.5rem 0;
}

.postHeading h1 {
    font-size: 2rem;
    font-family: var(--font-open-sans);
    font-weight: 500;
}

.postHeading p {
    font-size: 1.3rem;
}

.postHeadingImage {
    width: 100%;
    height: 60vh;
}

.postHeadingImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postBody {
    width: 100%;
    max-width: 768px;
    margin: 2rem auto;
    font-size: 1rem;
}

.postBody p {
    font-size: 1.3rem;
    line-height: 160%;
    margin-bottom: .5rem;
}

@media (min-width: 768px) {
    .postBody {
        width: 768px;
    }
}
