.donateButton {
  background-color: var(--accent);
  padding: 6px 20px 10px 20px;
  border: none;
  border-radius: 1px;
  text-decoration: none;
  font-family: var(--font-oswald);
  font-size: 2.4rem;
  display: block;
  line-height: 32px;
  color: #fff;
  width: min-content;
}

.modalDialog:open {
  top: 20vh;
  width: 35vw;
  min-width: 300px;
  margin: 0 auto;
  padding: 2rem;
  border: none;
  /* border-bottom: .7rem solid var(--accent); */
  display: flex;
  flex-direction: column;
}

.modalDialog::backdrop {
  background-color: #00000048;
}

.modalDialog .header {
  display: flex;
  margin-bottom: 1rem;
}

.modalDialog h2 {
  font-size: 2rem;
  font-family: var(--font-open-sans);
}

.modalDialog button {
  margin-left: auto;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.modalDialog button svg {
  color: #000;
  width: 2.5rem;
  height: 2.5rem;
}

.modalDialog p {
  text-align: left;
  margin-top: 1rem;
  line-height: 150%;
  font-size: 1.4rem;
}

.modalDialog a {
  text-decoration: underline;
}
